* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

h2 {
  color: black;
  text-align: center;
  margin: 5px 0;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  margin-bottom: 15px;
}

.book:nth-of-type(2n + 1) {
  background-color: lightgray;
}

.book__author {
  margin-left: 5px;
}

.book__remove-btn {
  height: auto;
  width: auto;
  padding: 3px 5px;
  box-shadow: 4px 4px 2px rgb(0, 0, 0); 
}

.book-description {
  display: flex;
}

.add {
  display: flex;
  flex-direction: column;
}

.book__line {
  width: 110px;
  margin: auto;
  height: 3px;
  color: black;
  border: none;
  background-color: black;
}

.book__addnew {
  margin-top: 15px;
}

.add__add-btn {
  height: auto;
  width: auto;
  padding: 3px 5px;
  box-shadow: 4px 4px 2px rgb(0, 0, 0); 
}